@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: normal;
}

:root {
  /* font size */
  --primary-header-ft-size: clamp(1.3rem, 3.8vw, 4rem);
  --secundary-header-ft-size: clamp(1.1rem, 2.8vw, 1.3rem);
  --tertiary-header-ft-size: clamp(1rem, 2.5vw, 1.1rem);
  --base-ft-size: 1rem;
  /* font color */
  --primary-ft-color: #fff;
  --secundary-ft-color: #bababa;
  /* background */
  --body-background: #090d0f;
  --body-light-background: #11171b;
  --box-background: rgba(13, 17, 21, 0.7);
  --box-background-solid: #0d1115;
  /* border */
  --gradient-light-color: #b4b5b7;
  --gradient-transparent-color: rgba(180, 181, 183, 0);
  --roundness: 10px;
  /* primary colors */
  --main-color: #3b5e7e;
  --secundary-color: #d6dee4;
  --soft-gray-color: #aebbca;
  /* padding  */
  --button-padding: 0.9rem 3rem;
}

h1,
h2,
h3,
h4,
button {
  line-height: 116%;
  letter-spacing: 0.1rem;
}
button {
  cursor: pointer;
}
p {
  line-height: 150%;
  letter-spacing: 0.05rem;
}
b {
  color: var(--primary-ft-color);
  font-weight: 950;
}
html {
  background-color: var(--body-background);
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(
    180deg,
    var(--body-light-background),
    var(--body-background) 50%
  );
  background-repeat: no-repeat;
  color: var(--secundary-ft-color);
  font-family: "Poppins", sans-serif;
}
.fix-hero-image {
  position: relative;
  top: -4.8rem;
}
.button {
  display: block;
  padding: 0.9rem 3rem;
  border-radius: 1.5rem;
  background-color: var(--main-color);
  font-weight: 700;
  color: var(--primary-ft-color);
}
.button__border--light {
  display: block;
  border-radius: 2rem;
  background: linear-gradient(
    -60deg,
    var(--gradient-transparent-color),
    20%,
    #819cb5
  );
  padding: 0.1rem 0.15rem;
  width: fit-content;
  transition: ease-in-out 200ms;
}
.box {
  background: linear-gradient(
    -40deg,
    var(--gradient-transparent-color),
    85%,
    var(--gradient-light-color)
  );
  padding: 1px;
  width: fit-content;
}
.box__content {
  border-radius: inherit;
  background-color: var(--box-background);
  backdrop-filter: blur(5px);
}
footer {
  display: grid;
  grid-template-columns: 1fr;
  padding-block: 5rem;
  justify-items: center;
  grid-row-gap: 3rem;

  .footer__logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-ft-color);
  }
  .footer__title {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-ft-color);
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;

    li,
    a {
      line-height: 116%;
      letter-spacing: 0.15rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}
/* tablet devices */
@media (min-width: 43rem) {
}
/* desktop devices */
@media (min-width: 75rem) {
  main {
  }
  body {
    background: none;
    background-color: var(--body-background);
  }
  .button__border--light {
    outline-style: solid;
    outline-width: 1px;
    outline-offset: -1px;
    outline-color: transparent;

    &:hover {
      outline-color: var(--secundary-ft-color);
    }
  }
  footer {
    padding-block: 6rem;
    margin-inline: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    width: 100%;
    max-width: 45rem;
    align-items: start;

    ul {
      align-items: start;
    }
  }
}
