.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > div:first-child {
    margin-bottom: 0.8rem;
  }
}
.hero__image {
  margin-top: 5dvh;
  width: 85%;
  max-width: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;

  img {
    display: block;
    width: 100%;
    outline-width: 0.1rem;
    outline-color: var(--gradient-light-color);
    outline-style: solid;
    outline-offset: -1px;
    border-radius: 1.5rem;
  }
  .hero__image__row {
    display: none;
  }
}
.hero__description {
  margin-top: clamp(1rem, 5vw, 2rem);
  display: flex;
  font-size: 1.1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  order: 2;

  h1 {
    font-size: clamp(var(--primary-header-ft-size), 8vw, 2.8rem);
    font-weight: 950;
    max-width: clamp(18.7rem, 93%, 43rem);
  }

  p {
    margin-block: clamp(0.8rem, 4vw, 1.5rem);
    max-width: clamp(18rem, 75%, 25rem);
  }
}
.scroll_button {
  position: absolute;
  right: 50%;
  bottom: -4rem;
  width: 2.5rem;
  transition: ease-in-out;
  animation-duration: 2s;
  animation-name: ping-pong;
  animation-iteration-count: infinite;

  &:hover {
    animation-play-state: paused;
  }
}
@keyframes ping-pong {
  0% {
    transform: translate(50%, 0);
  }
  50% {
    transform: translate(50%, 1rem);
  }
  100% {
    transform: translate(50%, 0);
  }
}
@media (min-width: 62rem) {
  .hero {
    max-width: 70rem;
  }
}
@media (min-width: 75rem) {
  .hero {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 3rem;
    margin-inline: auto;

    .hero__image {
      display: flex;
      flex-direction: column;
      position: relative;
      order: 2;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 140%;
        background: radial-gradient(
          circle,
          var(--body-light-background),
          var(--gradient-transparent-color) 70%
        );
        z-index: -1; /* Place the shadow behind the element */
        filter: blur(10px); /* Add a blur effect for smoothness */
      }

      .hero__image__row {
        width: fit-content;
        height: fit-content;
        display: inherit;
        margin-bottom: 1.2rem;

        > img:not(:last-child) {
          margin-right: 1rem;
        }
        > img {
          width: 49%;
        }
      }
      img {
        border: 0.1rem solid #fff;
        border-radius: 1.5rem;
      }
      > img {
        width: 100%;
      }
    }
    .hero__description {
      text-align: left;
      justify-content: start;
      align-items: start;
      max-width: clamp(25rem, 40vw, 38rem);
      position: relative;
      order: 1;

      p {
        margin-block: 1rem;
        font-size: clamp(1rem, 1.5vw, 1.3rem);
      }

      .main-button {
        display: block;
        padding: 1rem 3rem;
        border-radius: 3rem;
        font-size: clamp(1rem, 1.5vw, 1.3rem);
      }
    }
    .scroll_button {
      width: 3.5rem;
      cursor: pointer;
      position: absolute;
      right: 20%;
      top: 110%;
      transform: none;
    }
  }
}
@media (min-width: 93rem) {
  .hero {
    max-width: 85rem;
  }
}

@media (min-width: 105rem) {
  .hero__image {
    transform: translateX(2rem);
  }
}
